{% extends 'hotel/base1.html'%}
{% block content%}
<style>
    body{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
    }
    h1{
        color: rgb(215, 210, 210);
    }
    .btn{
        color:rgb(231, 227, 227);
        border: 2px solid rgb(139, 136, 136);
        width: 100px;
        height: 30px;
        text-align: center;
        line-height: 20px;
        cursor: pointer;
        background: rgb(171, 164, 144);
        border-radius: 8px;
    }
    .btn:hover{
        background: rgb(201, 200, 195);
        color: #fff;
        border: 2px solid rgb(124, 122, 122);
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Cancel Reservations</h1>
        </div>
    </div>

    <!-- Reservation Table -->
    <div class="row">
        <div class="col-md-12">
            <table class="table" style="background-color: rgba(237, 238, 234, 0.8)">                    
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Room Type</th>
                        <th>Room Number</th>
                        <th>Check-In</th>
                        <th>Check-Out</th>
                    </tr>
                </thead>
                <tbody>
                    {%for Reservation in Reservations%}
                    <tr>
                        <td>{{Reservation.name}}</td>
                        <td>{{Reservation.room_type}}</td>
                        <td>{{Reservation.room_number}}</td>
                        <td>{{Reservation.check_in}}</td>
                        <td>{{Reservation.check_out}}</td>
                        <td><a href="{% url 'cancel1' Reservation.pk%}" ><button type ="button" class="btn">Cancel</button></a></td>

                    </tr>
                    {%endfor%}

                </tbody>
            </table>
                    
        </div>
    </div>
</div>
{% endblock %}