{% extends 'hoteladmin/base1.html'%}
{% block content%}
<style>
    body{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
    }
    h1{
        color: rgb(215, 210, 210);
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Rooms</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table" style="background-color: rgba(237, 238, 234, 0.8)">                    
                <thead>
                    <tr>
                        <th>Room Number</th>
                        <th>Room Type</th>
                    </tr>
                </thead>
                <tbody>
                    {%for Room in Rooms%}
                    <tr>                      
                        <td>{{Room.room_number}}</td>
                        <td>{{Room.room_type}}</td>
                    </tr>
                    {%endfor%}

                </tbody>
            </table>
                    
        </div>
    </div>
</div>
{% endblock %}